@charset "utf-8";

/* home */

.home{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.home article:not(.about__button){
    position: absolute;
    width: 50%;
    height: 100vh;
    transition: 0.3s ease;
}
.home article a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home article h2{
    font-size: 20px;
    font-family: "ubuntu-500";
    color: #444;
    text-transform: uppercase;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease;
}
.home article h1{
    font-size: 38px;
    line-height: 42px;
    font-family: "ubuntu-700";
    color: #444;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s ease;
}
.home article h2::before{
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    background-color: #444;
    width: 0px;
    height: 3px;
    transform: translateX(-50%);
    transition: 0.3s ease;
}
.home article a:hover h2{
    opacity: 0.5;
}
.home article a:hover ::before{
    width: 50px;
}
.develop__button{
    top: 0;
    left: 0;
    background-color: #C3ECE4;
}
.design__button{
    top: 0;
    right: 0;
    background-color: #D2EFCE;
}
.about__button{
    width: 380px;
    height: 380px;
    background-color: #EEEEEE;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s ease;
}
.about__button h1+h1{
    opacity: 0;
    transition: 0.3s ease;
    position: relative;
}
.about__button h1+h1::before{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -20px;
    width: 0px;
    height: 3px;
    transform: translateX(-50%);
    background-color: #444;
    transition: 0.3s ease;
}
.about__button:hover h1{
    opacity: 0;
}
.about__button:hover h1+h1{
    opacity: 1;
}
.about__button:hover h1+h1::before{
    width: 100px;
}

/* about */
.about__profile{
    width: 100vw;
}
.profile__container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 200px 20px;
}
.profile__box{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.profile__img{
    transition: 0.3s ease;
}
.profile__img img{
    width: 363px;
    height: 436px;
    transition: 0.3s ease;
}
.profile__content__container{
    position: relative;
    min-width: 350px;
    min-height: 436px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile__content h3{
    font-size: 24px;
    font-family: "ubuntu-700";
}
.profile__content strong{
    font-size: 20px;
    font-family: "ubuntu-500";
    display: block;
}
.profile__content article:not(.active){
    display: none;
}
.profile__content article.active{
    transition: 0.3s ease;
}
.profile__content article{
    min-width: 350px;
    min-height: 130px;
    overflow: hidden;
    transition: 0.3s ease;
}
.profile__content article li{
    margin-bottom: 12px;
    color: #444;
    font-family: "ubuntu-400", sans-serif;
}
.profile__content article li:last-child{
    margin-bottom: 0;
}
.profile__content article span{
    font-weight: bold;
}
.profile__content article p{
    float: right;
    text-align: right;
}
.profile__button{
    min-height: 20px;
}
.profile__button button{
    font-size:16px;
    line-height: 20px;
    font-family: "ubuntu-700";
    color: #333;
}
.profile__button button::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    margin-top: 10px;
    background-color: #333;
    opacity: 0;
    transition: 0.3s ease;
}
.profile__button button.active::after{
    width: 100%;
    opacity: 1;
}
.profile__mail{
    font-size: 24px;
    color: #222;
    font-family: "ubuntu-700";
}
.profile__mail::after{
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #222;
    margin-top: 20px;
    opacity: 0;
    transition: 0.3s ease;
}
.profile__mail:hover::after{
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #222;
    margin-top: 20px;
    opacity: 1;
}

.link__area{
    width: 100vw;
    height: 300px;
    display: flex;
}
.link__area li:first-child{
    width: 50%;
    height: 100%;
    background-color: #C3ECE4;
}
.link__area li:last-child{
    width: 50%;
    height: 100%;
    background-color: #D2EFCE;
}
.link__area li a{
    display: block;
    font-size: 16px;
    text-align: center;
    line-height: 300px;
    text-transform: uppercase;
    font-family: "ubuntu-700";
    color: #444;
    letter-spacing: 0.5px;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    position: relative;
}
.link__area li a::after{
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #444;
    position: absolute;
    left: 50%;
    bottom: 40%;
    transform: translateX(-50%);
    transition: 0.3s ease;
}
.link__area li a:hover::after, 
.link__area li a:hover{
    opacity: 0.5;
}

.contact{
    height: 400px;
    position: relative;
}
.contact img{
    width: 36px;
    transition: 0.3s ease;
}
.contact img:hover{
    opacity: 0.5;
}
.contact ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact li{
    margin-right: 30px;
}
.contact li:last-child{
    margin-right: 0px;
}
.contact p{
    font-size: 20px;
    text-align: center;
    color: #000;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%);
    text-transform: uppercase;
    font-family: "ubuntu-700";
}

/* develop */
.develop{
    background-color: #C3ECE4;
    width: 100vw;
}
.develop .develop__container{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 20px;
    padding: 200px 20px;
}
.develop article{
    margin-bottom: 50px;
    transition: 0.3s ease;
}
.develop article:last-child{
    margin-bottom: 0;
}
.develop article:nth-child(1),
.develop article:nth-child(2),
.develop article:nth-child(5),
.develop article:nth-child(6)
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.develop article:nth-child(3),
.develop article:nth-child(4),
.develop article:nth-child(7),
.develop article:nth-child(8){
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.develop article img{
    width: calc(50% - 20px);
    height: 100%;
}
article .work__card{
    width: calc(50% - 20px);
}
.develop article:nth-child(1n){
    grid-column: 1/7;
}
.develop article:nth-child(2n){
    grid-column: 7/13;
}
article .work__card h2{
    font-size: 26px;
    font-family: "ubuntu-700";
    margin-bottom: 2%;
    color: #222;
}
article .work__card p{
    font-size: 14px;
    font-family: "ubuntu-400";
    line-height: 24px;
    margin-bottom: 13%;
    color: #444;
}
 .work__card a{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    font-family: "ubuntu-400";
    letter-spacing: 1.2px;
    transition: 0.3s ease;
}
 .work__card a:nth-of-type(1){
    background-color: #444;
    color: #eee;
    margin-bottom: 10px;
}
 .work__card a:nth-of-type(2){
    background-color: #eee;
    color: #444;
}
 .work__card a:nth-of-type(1):hover{
    background-color: #eee;
    color: #444;
}
 .work__card a:nth-of-type(2):hover{
    background-color: #444;
    color: #eee;
}

.design{
    background-color: #D2EFCE;
    width: 100vw;
    min-height: 100vh;
}
.design .design__container{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 20px;
    padding: 200px 20px;
}
.design article:nth-child(1n){
    grid-column: 1/7;
}
.design article:nth-child(2n){
    grid-column: 7/13;
}
.design article:nth-child(1),
.design article:nth-child(2),
.design article:nth-child(5),
.design article:nth-child(6)
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.design article:nth-child(3),
.design article:nth-child(4),
.design article:nth-child(7),
.design article:nth-child(8){
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.design article img{
    width: calc(50% - 20px);
    height: 100%;
}
.design article{
    margin-bottom: 50px;
    transition: 0.3s ease;
}



header{
    width: 100vw;
    position: fixed;
    left: 0;
    top: 50px;
    z-index: 999;
}
header .header__container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}
header .pageName{
    font-size: 20px;
    font-family: "ubuntu-500";
    text-transform: uppercase;
    letter-spacing: 2.5px;
}
header .pageName::before{
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #444;
    margin-bottom: 20px;
}

header .gnb{
    margin-top: 10px;
}
.gnb ul{
    display: flex;
    flex-direction: row-reverse;
}
.gnb ul li{
    width: 50px;
    height: auto;
    position: relative;
    cursor: pointer;
}
.gnb ul li:before{
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    position: absolute;
    top: -10px;
    left: -25%;
    transform: translateX(25%);
    background-color: #444;
    text-align: center;
    margin: 0 auto;
}
.gnb ul li a{
    width: 100%;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    word-break: break-all;
    width: 12px;
    text-align: center;
    text-transform: uppercase;
    font-family: "ubuntu-700";
}
.gnb ul li .gnb__firstText{
    transform: rotate(90deg);
    transition: 0.3s ease;
}
.gnb ul li:hover .gnb__firstText{
    transform: rotate(0deg);
}
.gnb ul li:hover .gnb__firstText+span{
    opacity: 1;
    height: auto;
    transition: 0.5s ease;
}
.gnb ul li span+span{
    opacity: 0;
    height: 1px;
}
.hambuger__open--btn{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 5%;
    z-index: 9999;
    display: none;
}
.hambuger__open--btn span{
    width: 100%;
    height: 3px;
    background-color: #444;
    display: block;
    position: absolute;
    transition: 0.3s ease;
    border-radius: 10px;
}
.hambuger__open--btn span:nth-child(1){
    top: 0;
    right: 0;
}
.hambuger__open--btn span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.hambuger__open--btn span:nth-child(3){
    bottom: 0;
    right: 0;
}
.hambuger__open--btn:hover span:nth-child(1){
    width: 80%;
}
.hambuger__open--btn:hover span:nth-child(3){
    width: 60%;
}

.menu{
    position: fixed;
    top: 0;
    right: -360px;
    width: 360px;
    height: 100vh;
    background-color: #EEEEEE;
    z-index: 9999999;
    padding: 50px;
    transition: 0.3s ease;
    font-size: 30px;
    color: #444;
    font-family: "ubuntu-700";
    display: none;
}
.menu li, .hambuger__close--btn{
    font-size: 30px;
    margin-bottom: 50px;
    color: #444;
    font-family: "ubuntu-700";
    width: 100%;
    text-align: left;
}
.menu li a{
    display: block;
}
.menu li::after,
.menu .hambuger__close--btn::after{
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    transition: 0.3s ease;
    background-color: #444;
    opacity: 0;
    margin-top: 10px;
}
.menu li:hover::after,
.menu .hambuger__close--btn:hover::after{
    width: 50%;
    opacity: 1;
}
.dim{
    position: fixed;
    left: 0;
    width: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -99999;
    opacity: 0;
    transition: 0.3s ease;
}

[class$="__link"]{
    position: absolute;
    left: 0;
    width: 100vw;
    height: 50px;
    display: flex;
}
[class$="__link"] li a{
    display: block;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    font-family: "ubuntu-500";
    color: #444;
    letter-spacing: 0.5px;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}
[class$="__link"] li a{
    opacity: 0;
}
[class$="__link"] li:hover a{
    opacity: 1;
}
[class$="__link"] li:first-child{
    width: 50%;
    height: 100%;
    background-color: #C3ECE4;
}
[class$="__link"] li:last-child{
    width: 50%;
    height: 100%;
    background-color: #D2EFCE;
}

.top__link{
    top: 0;
    z-index: 999;
}

/* detail kingkroach */
.design__detail{
    background-color: #D2EFCE;
    padding: 200px 5%;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detail__img {
    margin-bottom: 30px;
}
.detail__img:last-child{
    margin-bottom: 0;
}