@charset "utf-8";

@media all and (max-width:1100px){
    .profile__img{
        left: 70%;
    }
    .profile__img img{
        width: 263px;
        height: 336px;
    }
}

@media all and (max-width:1024px){
    /* develop */
    .develop article:nth-child(1n){
        grid-column: 1/13;
    }
    .develop article:nth-child(2n){
        grid-column: 1/13;
    }
    .develop article:nth-child(3),
    .develop article:nth-child(4),
    .develop article:nth-child(7),
    .develop article:nth-child(8){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .design article:nth-child(1n){
        grid-column: 1/13;
    }
    .design article:nth-child(2n){
        grid-column: 1/13;
    }
    .design article:nth-child(3),
    .design article:nth-child(4),
    .design article:nth-child(7),
    .design article:nth-child(8){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* detail */
    .detail__img{
        width: 50%;
    }
    .design__detail__content{
        padding: 3%;
    }
    .design__detail__button img{
        width: 32px;
    }
}

@media all and (max-width:768px){
    /* home */
    .about__button{
        width: 280px;
        height: 280px;
    }
    .home article h1{
        font-size: 26px;
        line-height: 40px;
    }
    .about__button h1+h1::before{
        bottom: -10px;
    }
    /* profile */
    .about__profile {
        height: 120vh;
    }
    .profile__img{
        top: 20%;
        left: 50%;
        transform: translate(-50%);
    }
    .profile__content{
        top: auto;
        transform: none;
        bottom: 0;
        width: 100%;
    }
    .profile__content__container{
        min-width: 320px;
    }
    .profile__content article{
        min-width: 100%;
    }

    /* develop */
    .develop article img{
        width: 100%;
        margin-bottom: 5%;
    }
    .design article img{
        width: 100%;
        margin-bottom: 5%;
    }
    article .work__card{
        width: 100%;
    }
    .develop article:nth-child(1),
    .develop article:nth-child(2),
    .develop article:nth-child(5),
    .develop article:nth-child(6)
    {
        flex-direction: column;
    }
    .develop article:nth-child(3),
    .develop article:nth-child(4),
    .develop article:nth-child(7),
    .develop article:nth-child(8){
        flex-direction: column;
    }
    .develop article p{
        font-size: 18px;
        font-family: "ubuntu-400";
        line-height: 28px;
        margin-bottom: 5%;
    }
    .design article:nth-child(1),
    .design article:nth-child(2),
    .design article:nth-child(5),
    .design article:nth-child(6)
    {
        flex-direction: column;
    }
    .design article:nth-child(3),
    .design article:nth-child(4),
    .design article:nth-child(7),
    .design article:nth-child(8){
        flex-direction: column;
    }
    .design article p{
        font-size: 18px;
        font-family: "ubuntu-400";
        line-height: 28px;
        margin-bottom: 5%;
    }
     .work__card a{
        height: 50px;
    }
    .detail__img{
        width: 100%;
    }
}